.DS_Store

application/cache/*
node_modules/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

##SSC
public/media/*
public/video/*
/config.php
/token.json
.sass-cache
/config
/application/cache/_all_category_vi
/public/media
/vendor
mix.js.map
package-lock.json
prepros-6.config
public/thumb
# Vim Workspace undo dir
.undodir/*
